<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a style="text-decoration:none" href="https://www.linkedin.com/in/nikhil-parakh/"><i class='bx bxl-linkedin'></i></a></li>
        <li><a style="text-decoration:none" href="https://www.facebook.com/kanhaparakh/"><i class='bx bxl-facebook-circle'></i></a></li>
        <li><a style="text-decoration:none" href="https://www.instagram.com/kanhaparakh/"><i class='bx bxl-instagram'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: +91-7892260215</li>
        <li>nikhil.parakh.dev@gmail.com</li>
    </ul>
</div>
