<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Welcome all,</span> I am
        </span><br>
        <span>Nikhil Parakh</span><br>
        <span>Software Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/cropped _nikhil.png" alt="">
    </div>
    <div class="cvdownload">
      <button class="button" role="button"><a style="text-decoration:none" href="../../assets/Nikhil_parakh-Latest.pdf">Resume here</a> </button></div>
</div>
